# Node
node_modules/
dist/
.build/
.env
.env.*

# Build outputs
coverage/
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo

# Logs
*.log

# OS
Thumbs.db

# Vite
/.cache

# Test
playwright-report/
